[submodule "autocancel_exp"]
	path = autocancel_exp
	url = git@github.com:liuyc1515/AutoCancelExperiment.git
    branch = experiment
[submodule "autocancel_java_code"]
	path = autocancel_java_code
	url = git@github.com:liuyc1515/AutoCancelJavaLib.git
    branch = experiment
[submodule "elasticsearch"]
	path = elasticsearch
	url = git@github.com:liuyc1515/elasticsearch.git
    branch = autocancel
[submodule "solr"]
	path = solr
	url = git@github.com:liuyc1515/solr.git
    branch = autocancel
[submodule "psandbox"]
	path = scripts/baseline/psandbox/toy_sandbox
	url = git@github.com:liuyc1515/AutoCancelToySandbox.git
    branch = autocancel
