/autocancel_c_code
/FlameGraph
/hive
/solr-bench
/cilantro

/scripts/data/*
!/scripts/data/.gitkeep
/scripts/logs/*
!/scripts/logs/.gitkeep

/scripts/microbenchmark/solr-bench/SolrNightlyBenchmarksWorkDirectory
/scripts/microbenchmark/solr-bench/target
/scripts/microbenchmark/solr-bench/suites/results
/scripts/microbenchmark/solr-bench/suites/ecommerce-events.json.gz
/scripts/microbenchmark/solr-bench/apache-zookeeper-3.8.3-bin.tar.gz

note

.cache
.config

.bash_history

# External repos for exp use
/solr-bench
/PARTIES
/psp
